<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Juegos Anunciados</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/1index.html"><p>Gamer House</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/assets/img/header.jpg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">Juegos Anunciados</h2>

        <div class="contenedor-anuncios">

            <div class="anuncio">
                <img src="/assets/img/anuncio1.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Watch Dogs</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>2</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>1</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/assets/img/anuncio2.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Halo Reach</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>2</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>2</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>1</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio2.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/assets/img/anuncio3.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Tomb Raider</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>1</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>2</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio3.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/assets/img/anuncio4.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Gears of War 2</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio4.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/assets/img/anuncio5.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Man in Black Alien Crisis</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio5.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

            <div class="anuncio">
                <img src="/assets/img/anuncio6.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3>Metal Gear Solid V</h3>
                    <p class="precio">$1,000</p>
                    <ul class="iconos-caracteristicas">
                        <li>
                            <img src="/assets/img/jugadores.svg" width="20px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/icono_micro.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                        <li>
                            <img src="/assets/img/control.svg" width="30px" alt="">
                            <p>3</p>
                        </li>
                    </ul>
                    <a href="/templates/anuncio6.html" class="boton boton-amarillo d-block">Ver Juego</a>
                </div>
            </div>

        </div>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
                <p class="copyright">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>
    
</body>
</html>