<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Juegos en Venta</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/1index.html"><p>Gamer House</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/assets/img/header.jpg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

    <h1 class="fw-300 centrar-texto">Tomb Raider</h1>
    <img src="/assets/img/tomb-raider.jpg" alt="">

    <main class="contenedor seccion contenido-centrado">
        <div class="resumen-propiedad">
            <p class="precio">"1,000</p>
            <ul class="iconos-caracteristicas">
                <li>
                    <img src="/assets/img/icono1.svg" width="70px" alt="">
                    <p>3</p>
                </li>
                <li>
                    <img src="/assets/img/icono2.svg" width="85px" alt="">
                    <p>2</p>
                </li>
                <li>
                    <img src="/assets/img/icono3.svg" width="50px" alt="">
                    <p>1</p>
                </li>
            </ul>
        </div>
        <p>Tomb Raider es un videojuego de acción-aventura de disparos en tercera persona y de mundo abierto desarrollado por Crystal Dynamics y distribuido por la sucursal europea de Square Enix. Es la décima entrega principal y un reinicio de la serie Tomb Raider, actuando como la primera entrega de la trilogía Survivor que reconstruye los orígenes de Lara Croft. El juego fue lanzado para PlayStation 3, Windows y Xbox 360 el 5 de marzo de 2013. El juego se centra en la supervivencia, con exploración al atravesar la isla y visitar varios tumbas opcionales. Es el primer juego de la serie principal en tener multijugador y el primer juego de la serie publicado por Square Enix después de la adquisición de Eidos Interactive por parte de esta última en 2009.</p>
        <p>El juego transcurre en Yamatai, una isla del Triángulo del Dragón, en la costa de Japón. La isla y el reino que una vez existieron es un misterio, debido a las tormentas y corrientes marítimas que la rodean. Yamatai fue gobernada por la Reina del Sol, llamada Himiko, quien, acorde a la leyenda, tenía poderes místicos que la permitían controlar el tiempo atmosférico. Se sabe poco acerca de la historia de Yamatai desde que Himiko murió. Explorando la isla, el jugador descubre muchas otras culturas que llegaron a la isla, como comerciantes portugueses del siglo XVI, miembros del Cuerpo de Marines de los Estados Unidos y un proyecto militar de los japoneses durante la Segunda Guerra Mundial. Al comienzo del juego, la isla está habitada únicamente por los Solarii, una secta violenta liderada por el Padre Mathias, creada con el propósito de adorar y traer de regreso a la Reina del Sol. </p>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
                <p class="copyright">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>

</body>
</html>