<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Juegos en Venta</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/1index.html"><p>Gamer House</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/assets/img/header.jpg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

    <h1 class="fw-300 centrar-texto">Halo Reach</h1>
    <img src="/assets/img/HaloReach.jpg" alt="">

    <main class="contenedor seccion contenido-centrado">
        <div class="resumen-propiedad">
            <p class="precio">"1,000</p>
            <ul class="iconos-caracteristicas">
                <li>
                    <img src="/assets/img/icono1.svg" width="70px" alt="">
                    <p>3</p>
                </li>
                <li>
                    <img src="/assets/img/icono2.svg" width="85px" alt="">
                    <p>2</p>
                </li>
                <li>
                    <img src="/assets/img/icono3.svg" width="50px" alt="">
                    <p>1</p>
                </li>
            </ul>
        </div>
        <p>Halo Reach es un videojuego de disparos en primera persona desarrollado por Bungie y publicado por Microsoft Game Studios para la consola Xbox 360 y posteriormente retrocompatible con Xbox One (exclusivo de Microsoft para estas dos 2 consolas). Es el sexto videojuego de la saga Halo, así como su tercer videojuego Publicado. Fue anunciado por primera vez el 2009 en Spike Video Game Awards.2​ </p>
        <p> El juego transcurre en el año 2552, donde la humanidad mantiene una guerra con el Covenant. El jugador controla a un nuevo personaje llamado Noble 6, un super soldado miembro del Equipo «Noble» durante la batalla en la colonia humana de Reach. Un detalle interesante del juego es que puedes personalizar a tu SPARTAN, permaneciendo así en todos los modos de juego, tanto en multijugador como en campaña. Existen a disposición del jugador muchas cosas para personalizar al personaje jugador, como cascos, armaduras, etc, que se desbloquearán ganando dinero o puntos pasando misiones de la campaña, al jugar partidas multijugador, etc. En su primer día, Halo: Reach recaudó 200 millones de dólares. </p>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
                <p class="copyright">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>
    
</body>
</html>