<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Juegos Anunciados</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/index.html"><p>Gamer House</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/assets/img/header.jpg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">Los Juegos más Anunciados <h2>
        <div class="contenedor-anuncios">
            <!-- Los anuncios se cargarán aquí mediante JavaScript -->
        </div>
        <div>

        </div>   
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
                <p class="copyright">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>
    <script src="../javascript/main.js"></script> <!--doble punto y barra para que busque fuera de la carpeta templates-->
</body>

</html>
