<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>juegos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/1index.html"><p>Gamer House</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="/assets/img/header.jpg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="contenedor">
        <h1 class="fw-300 centrar-texto" >Conoce sobre Nosotros</h1>

        <div class="contenido-nosotros">
            <div class="imagen">
                <img src="/assets/img/nosotros.jpg" height="810px" alt="">
            </div>
            <div class="texto-nosotros">
                <blockquote>Mas de 20 Años de Experiencia</blockquote>
            
            <p>
                Gamer House es una empresa con más de 20 años en el mercado, siendo parte de los grandes líderes en la industria del entretenimiento digital. Nuestra pasión por los videojuegos nos impulsa a brindar una experiencia única y emocionante para todos nuestros clientes.

                En nuestra tienda encontrarás una amplia selección de juegos para todas las plataformas populares, desde consolas hasta y dispositivos móviles. Trabajamos con los principales desarrolladores y distribuidores del mundo para asegurarnos de ofrecerte títulos más esperados y exitosos del momento.
            </p>
            <p>
                Nuestro comprom con la calidad es inquebrable. Realizamos exhaustivas pruebas y evaluaciones antes de agregar cualquier juego a nuestro catálogo, garantizando que solo obtengas productos que cumplan con los altos estándares. Además, nos mantenemos actualizados sobre las últimas tendencias y lanzamientos para brindarte siempre lo mejor en el mercado.

            </p>
            <p>
                La satisfacción del cliente es nuestra prioridad número uno. Nuestro equipo de atención al cliente está disponible para responder cualquier pregunta o resolver cualquier problema que puedas tener. Nos esforzamos por brindarte un servicio personalizado y eficiente, asegurándonos de que tu experiencia con nosotros sea excepcional desde el primer contacto hasta la entrega.
            </p>
            <p>
                No importa  si eres un jugador casual o un entusiasta apasionado; estamos aquí para ayudarte a encontrar exactamente lo que estás buscando. Permítenos ser tu guía en este emocionante mundo digital lleno aventuras épicas e historias inolvidables.
                Gracias por elegirnos como tu proveedor confiable en todo lo relacion con videojuegos durante estos últimos 20 años ¡Esperamos poder seguir sirviéndote durante muchos años más!
            </p>
            </div>
        </div>

    </main>

    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Mas sobre nosotros</h2>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="/assets/img/icono1.svg" width="70px" alt="">
                <h3>Novedosos</h3>
                <p>
                    Destacados por tener conocimiento actualizado sobre tendencias y lanzamientos. Para anticipar su demanda del mercado.
                </p>
            </div>
            <div class="icono">
                <img src="/assets/img/icono2.svg" width="70px" alt="">
                <h3>Atencion al cliente excepsional</h3>
                <p>
                    Nos encargamos de brindar un servicio al cliente personalizado y eficiente para generar la mejor experiencia.
                </p>
            </div>
            <div class="icono">
                <img src="/assets/img/icono3.svg" width="70px" alt="">
                <h3>Premiados por nuestras estrategias</h3>
                <p>
                    Siempre contamos con alta y constante comunicacion con desarrolladores y distribuidores líderes para tener acceso temprano a juegos populares y oportunidades exclusivas para los clientes.
                </p>
            </div>
           
        </div>
    </section>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="/templates/nosotros.html">Nosotros</a>
                    <a href="/templates/anuncios.html">Anuncios</a>
                    <a href="/templates/contacto.html">Contacto</a>
                </nav>
                <p class="copyright">Todos los Derechos Reservados 2024 &copy;</p>
        </div>
    </footer>
    
</body>
</html>